
@{
    ViewBag.Title = "ChangePassword";
}

<!-- Breadcrumbs -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href='@Url.Action("Index","Home")'>Home</a></li>
            <li class="active">Reset Password</li>
        </ol>
    </div>
</div>
<!-- End Breadcrumbs -->


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-sx-12">
            <br><br>
            <div class="title"> <span>Forget Password </span></div>
            <br>
            @using (Html.BeginForm())
            {

                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label for="password"><span style="color:red"> * </span> Old Password </label>
                    <input type="password" id="oldPassword" name="oldPassword" class="form-control form-control-line" oninput="passwordCheck()" placeholder="Password : ****** " required />
                </div>

                <div class="form-group">
                    <label for="password"><span style="color:red"> * </span> New Password </label>
                    <input type="password" id="password" name="password" class="form-control form-control-line" oninput="passwordCheck()" placeholder="Password : ****** " required />
                </div>

                <div class="form-group">
                    <label for="confirmPassword"> <span style="color:red"> * </span> Confirm Password </label>
                    <input type="password" id="confirm" name="confirmPassword" class="form-control form-control-line" oninput="passwordCheck()" placeholder="Confirm Password : ****** " required />
                </div>

                <div class="form-group">
                    <button class="btn btn-default btn-theme" id="submitChanges" type="submit" disabled> Reset Password </button>
                </div>
            }
        </div>


        <div class="col-lg-4 col-md-4 col-sm-12 col-sx-12">
            <br><br>
            <div class="title"> <span> Information </span></div>
            <br>
            <h4> * Fields Are Required </h4>
            New Password and Confirm Password Must Match
        </div>
    </div>
</div>

<script>
            function passwordCheck() {
                var password = document.getElementById("password").value;
                var confirmPassword = document.getElementById("confirm").value;
                if (password == confirmPassword) {
                    document.getElementById("submitChanges").disabled = false;
                }
                else {
                    document.getElementById("submitChanges").disabled = true;
                }
            }
</script>


@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <script>

                var message = '@ViewBag.Message';
                swal({
                    title: 'Walting',
                    text: 'BSMS is resetting you password',
                    timer: 3000
                }).then(
                function () { },
        // handling the promise rejection
                    function (dismiss) {
                        swal(
                      'Invalid Email',
                        message,
                      'information'
                    )
                    }
                )

    </script>
}


@if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <script>
                var message = '@ViewBag.ErrorMessage';
                swal(
                      'Invalid Email',
                        message,
                      'error'
                    )
    </script>
}
